*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

/* 거울 */
#container{
    margin: 0px auto;
    width: 500px;
    height: 700px;
    border: 3px solid #999;
    border-radius: 20px;
}
#webcam{
    display: block;
    margin-top: 20px;
    width: 500px;
    height: 375px;
    border-radius: 8px;
}

/* 트랙 바 */
#rangebox{
    margin-top: 30px;
}
.range{
    margin: 15px auto;
    width: 400px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 10px;
}
.range .sliderValue{
    position: relative;
    width: 100%
}
.range .sliderValue span{
    position: absolute;
    height: 28px;
    width: 28px;
    color: aliceblue;
    font-size: 13px;
    font-weight: 500;
    top: -20px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 30px;
    z-index: 2;
}
.range .sliderValue span.show{
    transform: translateX(-50%) scale(1);
}
.range .sliderValue span:after{
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    background: blue;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    border: 2px solid;
    border-color: aliceblue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red{
    color: red;
}
.range .field .value.left{
    left: 20px;
}
.range .field .value.right{
    right: 10px;
}
.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 75%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}
.range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.blue .field input::-webkit-slider-thumb{
    background: blue;
}
.green .field input::-webkit-slider-thumb{
    background: green;
}
.red .field input::-webkit-slider-thumb{
    background: red;
}

/* 스위치 */
#switch {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    vertical-align:middle;
}
#switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 70px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(67px);
    -ms-transform: translateX(67px);
    transform: translateX(67px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}