<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Webcam Stream</title>
    <link rel="stylesheet" href={{url_for('static', filename='webcam.css')}}>
</head>
<body bgcolor="black">
    <div id="container">
        <img id="webcam" src="{{mirror}}">
        <div id = "rangebox">
            <div class="range blue">
                <div class="sliderValue"><span></span></div>
                <div class="field">
                    <div class="value left">0</div>
                    <input type="range" min="0" max="255" value="255/2" steps="1">
                    <div class="value right">255</div>
                </div>
            </div>
            <div class="range green">
                <div class="sliderValue"><span></span></div>
                <div class="field">
                    <div class="value left">0</div>
                    <input type="range" min="0" max="255" value="255/2" steps="1">
                    <div class="value right">255</div>
                </div>
            </div>
            <div class="range red">
                <div class="sliderValue"><span></span></div>
                <div class="field">
                    <div class="value left">0</div>
                    <input type="range" min="0" max="255" value="255/2" steps="1">
                    <div class="value right">255</div>
                </div>
            </div>
        </div>
        <label id="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div>

    <script src={{url_for('static', filename='webcam.js')}}></script>
</body>
</html>